.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.header{
/* position: absolute; */
width: 100%;
height: 7rem;
background: #292929;
color: #FFFFFF;
padding: 2rem;
display: flex;
justify-content: space-between;
align-items: center;
transition: all .7s ease-in;

}
.logo{
padding: 1rem;
height: 40px;
width: 123px;
border: 1px solid #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
}
.logoText{
  font-size: 1rem;
  font-weight: bold;
}

.banner{
background-image: url("../public/banner.png"); 
background-size: cover;
background-repeat: no-repeat; 
width: 100vw;
height: 50vh;
border: 1px solid;
display: flex;
justify-content:flex-start;
align-items: center;
}

.bannerText{
  color: #FFFFFF;
  font-weight: 550;
  font-size: 3.8rem;
  line-height: 93.74px;
  padding: 1.2rem;
  margin: 2rem;
  overflow-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: sans-serif;

}

.movieBox{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100vw;
  border: 1px solid;

}

.searchMovie{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  /* border: 1px solid; */
  gap: 0.8rem;
}

.inputLabel{
  font-family: inherit;
  font-weight: 450;
  font-size: 1.2rem;
}
.input{
  width: 80%;
  padding: 0.8rem;
  caret-color: red;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  border-color: red;
  border-radius: 5px;
}



.movie{
  display: grid;
  row-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
  padding: 3px;
  /* border: 1px solid; */
}
.movieCard{
  margin: 1rem;
  color: inherit;
  border-radius: 10px;
  width: 300px; 
  height: 300px;
  background: #292929;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  
}
.movieImage{
height: 70%;
width: 100%;
padding: auto;
}
.movieTitle{
 padding: 1.5rem;
 font-size: 1.2rem;
 word-wrap: break-word;
 overflow-wrap: break-word;
 hyphens: auto;
}

.movieCard:hover{
  border:1px dashed #FFFFFF;
  border-radius: 10px;
}
.movieImage:hover{
  border-radius: 10px;

}
.error{
  color: red;
}




/* Mobile */
@media (max-width: 700px) {
.banner,.header{
  justify-content: center;
}
.movie{
  grid-template-columns: auto;
  row-gap: 3px;
  align-self: center;
  margin:0.8rem
}
.movieCard{
  width: 350px;
  margin: 1.5rem; 

}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .banner,.header{
    justify-content: center;
  }
  .movie{
    grid-template-columns: auto auto;
    
  }
  .movieCard{
    width: 350px;
    margin: 1.5rem; 
  
  }
  
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
